	<div class="main_back">
		<div class="sub_main"><h2 class="sub_main_text">ビジネスパートナー　足りてますか？</h2></div>
	</div>
<div style="overflow: hidden;">
	<div class="main_back2"></div>
		<div class="sub_main_text2">日本企業の約99.7％は中小企業と言われますが、<br>その中でも様々な規模の企業が存在しており一括りに考えることはできません。<br><br>
			特に小規模・零細企業や個人事業主の方は非常に厳しい環境に立たされている場合もあります。<br>
			社内リソースの不足により利益確保ができない、小規模仕入れによる購入単価の上昇により価格競争に勝てない、<br>取引先が少なく固定である為に共依存関係となり共倒れを懸念してしまうなど、悩みは尽きません。<br><br><br>
			そんな状況だからこそニーズの高い技術や経営戦略、そしてより多くのビジネスパートナーが必要になります。<br>
			しかし、いきなりビジネスパートナーを見つけるといっても、足を使って探すというのはあまり現実的ではありません。
		</div>
</div>

<div style="overflow: hidden;">
	<div class="main_back3"></div>
		<div class="sub_main_text3">『足で稼ぐ時代は終わった』最近はそんな言葉をよく耳にします。<br>これはITの普及に起因するものですが、実際はどうでしょう？<br><br>確かにインターネットを活用して簡略化できる物事は多く便利ですが、<br>こと人間関係の構築や重要な取引となると、直接的な対面を求める方が多いのではないでしょうか。<br><br>
		ビジネスパートナーを見つける上でも、インターネットを活用しアポイントを取り、<br>直接面談する機会を作るという流れが最も効率的だと思います。<br>
		このサイトではあなたと同じような境遇の方はもちろん、<br>普段は関わることのないような業種や、地域の方も登録されています。<br><br>
		同じ取引先と密接なリーレションシップを取ることもまた大切なことですが<br>新たな交流関係を構築することで、ビジネスの幅がより一層広がるかもしれません。<br>
		あなたのビジネスパートナーを増やす手段の1つとして、”ビジこねくと”を活用してみませんか？<br><br><p class="main_last">いつもの商談と同じく、すべてはあなた次第です。</p><br>
		</div>
</div>
<div class="introduction_btn"><%= link_to "新規登録して利用を開始する", new_user_registration_path, :style=>"color: white;font-weight: bold;font-size: 16px;float: none;height: 70px;padding: 23px;",class:'btn10' %></div>