<div class="user_completion">
  <div class="headline_box">
    <h2 class="completion_headline">会員登録完了</h2>
  </div>
  <div class="procedure_container clearfix">
    <div class="procedure_content_2">
      会員情報入力
    </div>
    <div class="kigou">&#9654;</div>
    <div class="procedure_content_2">
      入力内容確認
    </div>
    <div class="kigou">&#9654;</div>
    <div class="procedure_content_1">
      登録完了
    </div>
  </div>
  <div class="text_1">
    ご登録いただきありがとうございます。さっそく当サイトを利用してビジネスの幅を広げましょう。
  </div>
  <div class="text_2">
    <%= link_to "topページに移動する", root_path %>
  </div>
</div>

