<h1 style="margin: 20px 0 30px 30px;">反社会的勢力の排除について</h1>
<div class="container" style="margin-bottom:70px;">
	<div class="row">
		<div>公共の福祉の増進に寄与するため、反社会的勢力の排除に関し、各地方自治体の暴力団排除条例に準拠し、下記の様に定める<br>
		当サイト登録時チェックボックス記入により下記の全ての事項に対し同意したものとみなす。<br>
		<br>
		<h2>基本方針</h2>
		反社会的勢力は、企業に対する不当要求を行ったり、従業員や株主を含めた企業自身に多大な被害を生じさせるものであることを想定し、反社会的勢力を排除することは、企業防衛の観点からも必要不可欠な行動であると認識する。<br>
		同時に当サイトはあくまで投稿サイトであり、当サイトを用いた行動による損失・責任等は個人に帰属する。利用者に対しては利用者自身が自己防衛の観点から通常必要と思われる注意を払うとともに、反社会的勢力の排除を念頭に置いた行動を求める。<br>
		個人情報の保護に関する法律第18条第1項に基づき、個人情報を扱う<br>
		<h2>(1) 組織</h2>
		暴力団排除条例及び基本方針の趣旨を踏まえ、疑わしい企業アカウントの利用を停止、必要に応じ警察組織等に対し登録されたメールアドレス等の情報を公開する。<br>
		<h2>(2) サイト利用者</h2>
		当サイトを利用するにあたり、<br>
		反社会的勢力と一切の関係を持たないため、相手方が反社会的勢力であるか否かについて、常に、通常必要と思われる注意を払うとともに、反社会的勢力とは知らずに何らかの関係を有してしまった場合には、相手方が反社会的勢力であると判明した時点や反社会的勢力であると疑いが生じた時点で、速やかに関係を解消し、問い合わせフォームを用いて当該企業名とマッチングしてしまったニーズ認識番号をビジこねくとへ報告することを義務とする。<br>
		<h2>(3) 有事における民事と刑事の法的対応</h2>
		反社会的勢力による不当要求に対しては、民事と刑事の両面から法的対応を行うことを義務とする。<br>
		<h2>(4) 資金提供や裏取引の禁止</h2>
		当サイトを利用しての反社会的勢力への資金提供は絶対に行わない。<br>
		<br>
		<h2>※反社会的勢力の定義（排除の対象）について</h2>
		（下記に記す「法」とは「暴力団員による不当な行為の防止等に関する法律」を指す。）<br>
		<br>
		この「基本方針」に定める排除の対象は、次に掲げる者（企業、団体にあっては、その役員及び従業員等も含む）とする。<br>
		<br>
		(1) 暴力団（法第２条第２号に規定する暴力団）<br>
		その団体の構成員（その団体の構成団体の構成員を含む。）が集団的に又は常習的に暴力的不法行為等を行うことを助長するおそれがある団体<br>
		(2) 暴力団員（法第２条第６号に規定する暴力団員）<br>
		暴力団の構成員<br>
		(3) 暴力団関係者<br>
		暴力団員又は暴力団若しくは暴力団員と密接な関係を有する者<br>
		(4) 規制対象者（法第２条第５号のいずれかに該当する者）<br>
		指定暴力団<br>
		</div>
	</div>
</div>