<h1 style="margin: 20px 0 30px 30px;">個人情報保護について</h1>
<div class="container" style="margin-bottom:70px;">
	<div class="row">
		<div>お客様のプライバシーを適切に保護することは、私たちビジこねくとの重要な責務であると考えております。ビジこねくとは、以下の「個人情報保護方針」に基づき、お客様の個人情報を慎重に取扱い、安全かつ適切な保護に努めてまいります。<br>

			<h2>個人情報保護方針</h2>
			基本方針：<br>
			ビジこねくとでは、お客様に安心してサービスをご利用いただくため、個人情報の保護に関する方針を定め、お客様からお預りしている大切な個人情報の適正な利用・取扱いに努めてまいります。<br>
			<h2>法令・規範の遵守：</h2>
			ビジこねくとは、個人情報の適切な利用・取扱いのため、「独立行政法人の保有する個人情報の保護に関する法律（以下「法」とします。）」他関連法令及びその他の規範を遵守します。<br>
			<h2>個人情報の取扱いについて：</h2>
			a:個人情報の収集について<br>
			個人情報を収集する際には、お客様に対し利用目的を明確にし、その達成に必要な範囲において、適法かつ公正な手段を用います。<br>
			b:個人情報の利用について<br>
			個人情報を利用する際には、法に定める場合を除き、以下のとおり利用目的を特定するとともに、その利用目的の達成に必要な範囲内において利用します。<br>
			お客様がお申込みになったサービス・イベント・セミナー等の実施・運営のため<br>
			お客様がお申込みになったサービス・イベント・セミナー等に関するアンケートの実施のため<br>
			お客様の関心地域国、分野、ビジネスに関するビジこねくとのサービス・イベント・セミナー等のご案内の送付のため<br>
			そのほか、お客様の個人情報を取得する際に明示した利用目的の達成のため<br>
			上記の目的に必要な範囲で、ビジこねくとの各部署、国内外事務所が利用することがあります。<br>
			<h2>個人情報の提供について</h2>
			法に定める場合及びお客様の同意を得ている場合を除き、お客様の個人情報を第三者に提供することはいたしません。<br>
			<h2>個人情報の委託について</h2>
			利用目的の達成に必要な範囲内で、個人情報の取扱いを委託することがあります。このような場合は、個人情報の適切な管理能力を有することを条件とし、個人情報の取扱いに関する定めを締結します。<br>
			<h2>個人情報の適正な管理：</h2>
			個人情報を安全かつ適正に取扱うために、個人情報への不正アクセス、個人情報の紛失、滅失、き損を防止するための適切な措置を講じます。<br>
			<h2>継続的改善：</h2>
			個人情報の取扱いの定めを必要に応じて見直し、改善を図ります。<br>
			制定日 2018年7月26日
		</div>
	</div>
</div>