<h2 style="margin: 20px 0 30px 30px;">サイト利用方法</h2>
<div class="container" style="margin-bottom:70px;">
	<div class="row">
			<h3>＜全ユーザー共通＞</h3>
			①ユーザー登録<br>
			<div style="display: inline-block;">②マイページ / 登録情報の変更 から会社説明等を追加で登録</div>
			<p style="color: red; display: inline-block; margin-left: 10px;"> ※あなたの登録した情報は相手企業から閲覧されます</p>

			<h3>＜登録されているニーズとマッチングする場合＞</h3>
			① マッチングしたいニーズを探し、詳細画面からマッチング申請を送信<br>
			② 相手企業の返答を待ちます、ニーズの申請状況はマイページで確認できます<br>
			③ 相手企業が許可・拒否を選択すると通知があなたに届きますので確認してください<br>
			④ 許可された場合はニーズ詳細のマッチング申請欄に相手企業の連絡先が表示されます<br>
			⑤ 以上でマッチング完了です、表示された連絡先を用いて商談を進めてください

			<h3>＜ニーズを登録しマッチングする場合＞</h3>
			① 上に表示されているニーズ登録からニーズの登録をします<br>
			② 企業からマッチング申請を受信すると通知が届きますので確認してください<br>
			③ 詳細ページのマッチング申請欄に申請内容が掲載されています、確認して許可・拒否を選択します<br>
			④ 許可した場合はマッチング申請欄に相手企業の連絡先が表示されます<br>
			⑤ 以上でマッチング完了です、表示された連絡先を用いて商談を進めてください
	</div>
</div>