<div class="container-fulid" style="height: 600px;">
	<div class='row unsubscribe-back'>
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<div class="unsubscribe-main">
				<div class="unsubscribe-text">
					<h1>退会手続きが完了致しました。</h1>
					<p>これまで"ビジこねくと"をご利用いただきまして誠にありがとうございました。</p>
					<p>今後も、より良いサービスをご提供できるよう努めてまいります。</p>
					<p>また機会がございましたらご登録いただければ幸いです。</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3"></div>
	</div>
</div>