/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
 content: "";
 display: block;
 clear: both;
}




/*header用のCSS*/
header{
  background-color: white;
  width: 100%;
  height: 115px;
  border: solid #a9a1a159 1px;
}
.header-padding{
  height: 111px;
  width: 100%;
}
.header-links{
  text-align: right;
  padding-right: 30px;
  margin-top: 5px;
  height: 30px;
}
.link2{
  display: inline-block;
  padding: 0 15px;
  color: black;
  font-size: 14px;
}
.link3{
  display: inline-block;
  color: black;
  font-size: 14px;
}
.header-text2{
  text-align: right;
  padding: 5px 20px 0 0;
}
.header-text3{
  color: black;
  font-size: 16px;
  margin: 30px 10px 0 0;
  font-weight: bold;
}
.header-logo{
  background-image: url(logo.jpg);
  height: 60px;
  width: 350px;
  margin-left: 25px;
  display: inline-block;
  background-size: 100% 175%;
  background-position: center;
  float: left;
}


.btn10{
  padding: 5px 15px;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.btn10{
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid #adadad;
  border-radius: 10px;
  overflow: hidden !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: #14238eb3 !important;
  z-index: 10;
  float: right;
}
.btn10:hover{
  border: 1px solid #071982;
  color: #80ffd3!important;
}
.btn10::before {
content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #3f5df1;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.9s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.btn10::after {
content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #0cd2ff;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.btn10:hover::before, .btn1O:hover::before{
  opacity:1;
  width: 116%;
}
.btn10:hover::after, .btn1O:hover::after{
  opacity:1;
  width: 120%;
}

/*typeジャンル用のCSS*/
.genre-list {
  padding: 0;
  position: relative;
  margin-bottom: 0 !important;
}

.genre-list .genre-list-item {
  line-height: 1.5;
  height:auto;
  padding: 0.5em 0.5em 0.5em 1.7em;
  list-style-type: none!important;
  background: -webkit-linear-gradient(top, #whitesmoke 0%, whitesmoke 100%);/*グラデーション*/
  background: linear-gradient(to bottom, whitesmoke 0%, #b4e1ef 100%);/*グラデーション*/
  color: black;
  font-weight: bold;
}

.genre-list .genre-list-item:before { /*疑似要素*/
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  position: absolute;
  left : 0.5em;
  color: #FF6600;
}
.genre-list .genre-list-item:active {/*ボタンを押したとき*/
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(2px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.current{
  background-color: #3250a2;
  height: 34px;
  width: 34px;
  position: relative;
  top: 1px;
  padding: 8px 14px;
  color: white;
}
.pagination > li{
  display: inline-flex;
}
/*footer用のCSS*/
footer{
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: #777777;
  border-top: solid #d0cbcb 3px;
}
.fa-envelope{
  color: #256292;
}