// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*新規登録*/
.sign_up_box {
  padding: 10px 0;
}
.signup_container {
  height: auto;
}
.signup_headline {
  margin: 20px 0 10px 21%;
}
.em_text {
  padding-left: 5px;
}
.procedure_content_1, .procedure_content_2, .procedure_content_3 {
  float: left;
  width: 200px;
  border: 1px solid red;
  border-radius: 5px ;
}
.procedure_container {
  width: 628px;
  margin: 0 auto;
  text-align: center;
}
.kigou {
  float: left;
}
.procedure_content_1 {
  background-color: red;
  color: white;
}
.procedure_content_2, .procedure_content_3 {
  color: red;
}
.completion_headline {
  margin: 20px auto;
  width: 1000px;
}
.text_1 {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.text_2 {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.Agreement {
  width: 900px;
  height: 250px;
  margin: 0 auto;
  overflow: scroll;
  border: solid 1px;
  padding: 10px;
}
.signup_table, .login_table {
  width: 700px;
  margin: 0 auto;
}
.checkbox_container {
  padding-top: 10px;
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
  height: 50px;
  padding: 10px 20px;
}
.checkbox {
  float: left;
}
.checkbox_text {
  float: left;
}
.actions {
  margin: 10px auto;
  width: 100px;
  height: 30px;
}
/*パスワードリマインダー編集*/
.password_reminder_container {
  height: 745px;
  padding-top: 50px;
}

.password_reminder_headline {
  margin: 20px 0;
}
.password_reminder_table, .login_table, .password_table, .edit_table {
  width: 700px;
  margin: 0 auto;
}
.password_edit_table {
  margin: 0 auto;
}
.password_edit_headline {
  margin: 20px 0;
}

 /*確認画面*/
 .user_completion {
   height: 512px;
   padding-top: 50px;
 }
 .user_confirm_container {
   height: 745px;
 }
 .user_confirm_box {
   padding: 20px 0;
 }
.td_text {
  padding-left: 5px;
}

.user_confirm_table_box {
  margin-top: 20px;
}
.user_edit_container  {
  margin: 0 auto;
  height: 745px;
  padding-top: 30px;
}
 /*unsubscribe_comment*/
.unsubscribe_headsline {
  margin: 20px 0;
}
.unsubscribe_table {
  width: 700px;
  margin: 0 auto;
}
.unsubscribe_text {
  margin: 0 auto;
  width: 400px;
  padding-bottom: 20px;
}
.unsubscribe_textarea {
  text-align: center;
  width: 100%;
}
.unsubscribe_textarea textarea {
  width: 600px;
  height: 300px;
}
/*user_confirm*/
.Agreement_headline {
  margin: 20px 0 10px 21%;
}
.user_confirm_table {
  width: 700px;
  margin: 0 auto;
}
.back_actions {
  text-align: center;
  width: 150px;
  margin: 0 auto;
  padding-top: 20px;
}
.user_confirm_headline {
  margin: 20px 0 10px 21%;
}
/*ログイン*/
.login_container{
  height: 492px
}

/*ユーザーエディット*/
.user_new_back{
  background-image: url(/portfolio-4.jpg);
    width: 100%;
    height: 920px;
    background-size: cover;
}
.user_new_back_mask{
  height: 100%;
  background: rgba(251, 255, 184, 0.85);
}

.company_text{
    font-weight: bold;
    font-size: 17px;
}
.company_under{
  border-bottom: dashed #c5c5c5 1px;
  margin:10px 0;
}
